<?xml version="1.0"?>
<launch>
  <!--node name="my_node" pkg="gazebo_ros" type="robot_control_node"-->
  <node name="my_node" pkg="gazebo_ros" type="gzserver">
    <remap from="arm_controller_compliance/ft_sensor_wrench" to="wrench"/>
    <remap from="arm_controller_force/ft_sensor_wrench" to="wrench"/>  
  
        <!-- Control wrenches via one topic -->
    <remap from="arm_controller_compliance/target_wrench" to="target_wrench"/>
    <remap from="arm_controller_force/target_wrench" to="target_wrench"/>
  
    <remap from="arm_controller_compliance/target_frame" to="target_frame"/>
    <remap from="my_cartesian_motion_controller/target_frame" to="target_frame"/>
                     my_cartesian_motion_controller/target_frame
  
  </node>
    
</launch>
